/* HEADER */
.seguranca-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.seguranca-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.shield-icon {
  font-size: 18px;
  color: #111827;
}

/* ALERT */
.alert-box {
  background-color: #ff3616;
  border: 1px solid #e5e7eb;
  padding: 12px 14px;
  border-radius: 8px;
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
}

/* GRID */
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  font-size: 14px;
}

/* SWITCH ROW */
.switch-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.switch-row p {
  margin: 3px 0 0 0;
  font-size: 13px;
  color: #6b7280;
}

.switch-title {
  font-weight: 500;
  display: block;
}

/* AÇÕES */
.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 15px;
}

.btn-secondary {
  background: white;
  border: 1px solid #d1d5db;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-dark {
  background: #111827;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}