.app-container {
  display: flex;
}

.main-content {
  margin-left: 230px;
  width: calc(100% - 230px);
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  padding: 30px;
}
