.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 200px;   /* largura da sidebar */
  margin-top: 60px;     /* altura do header */
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
    z-index: 1;
    position: relative;
}

/* Para login/signup */
.main-content.full {
  margin-left: 0 !important;
  margin-top: 0 !important;
  padding: 40px;
}

.page-content {
  flex: 1;
  padding: 30px;
}
