html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  background: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.login-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  width: 100%;
}

.login-header h1 {
  margin-top: 10px;
  font-size: 22px;
}

.login-header p {
  font-size: 14px;
  color: #666;
}

.logo-circle {
  width: 60px;
  height: 60px;
  background: #3b82f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
  margin: 0 auto;
}

.login-card {
  width: 420px;
  margin-top: 20px;
  padding: 25px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
  text-align: left;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.login-subtitle {
  text-align: center;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* USER TYPES */

.user-types {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.user-option {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-option:hover {
  transform: scale(1.02);
}

.user-option div {
  display: flex;
  flex-direction: column;
}

.user-option span {
  font-size: 12px;
  color: #666;
}

.user-icon {
  font-size: 22px;
  transition: 0.25s ease;
}

/* ADMIN */
.user-option.admin.selected {
  border-color: #ef4444;
  background: #fee2e2;
}

.user-option.admin.selected .user-icon {
  color: #ef4444;
}

/* ALUNO */
.user-option.aluno.selected {
  border-color: #3b82f6;
  background: #dbeafe;
}

.user-option.aluno.selected .user-icon {
  color: #3b82f6;
}

/* COMUNIDADE */
.user-option.comunidade.selected {
  border-color: #22c55e;
  background: #dcfce7;
}

.user-option.comunidade.selected .user-icon {
  color: #22c55e;
}

/* INPUTS */

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 6px;
  font-size: 14px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* ERROR */

.error {
  color: red;
  margin-bottom: 12px;
  font-size: 14px;
}

/* BOTÃO */

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
}

.login-btn.admin {
  background: #ef4444;
}

.login-btn.aluno {
  background: #3b82f6;
}

.login-btn.comunidade {
  background: #22c55e;
}

.login-btn:hover {
  opacity: 0.9;
}

.signup-link {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.signup-link span {
  color: #3b82f6;
  cursor: pointer;
}
