.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: #1f1f1f;
  color: #f4f4f4;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 0px 15px rgba(0, 255, 128, 0.3);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  color: #33ad67;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.close-btn:hover {
  color: #2d8c56;
}
